* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    font-family: 'Courier New', Courier, monospace;
}
/* Styles entire body */   
body {
    background-color: lightblue;
}

/* Styles header*/   
header {
    background-color: darkblue;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles header image */   
#header-image {
    width: 100%;
    height: 200px;
    border-bottom: 1px solid black;
    background-image: url('../Images/Copy-of-Twitch-Banner.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles subtitle */   
.subtitle {
    background-color: lightblue;
    font-size: 60px;
    height: fit-content;
}

/* Styles nav cointainer*/   
#header-links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

/* Styles links */   
.header-links a {
    display: inline;
    font-size: 25px;
    margin-right: 30px;
    margin-top: 20px;
    color: white;
    font-style: oblique;
}

/* Styles name header */   
.left-corner-header {
    color: black;
    font-size: 40px;
    width: 20%;
    background-color: lightblue;
    padding-left: 25px;
}

/* Styles headshot size */   
.headshot {
    width: 200px;
}
/* Sets left section for about me */   
.about-me-cointainer {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 0vh;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

/* styles about me section */ 
#about-me {
    font-size: 60px;
    border-right: 5px solid black;
    padding-right: 30px;
    height: 19vh;
    width: 180px;
    margin-top: 60px;
}
/* Sets specs for paragraph div */ 
.paragraph-div {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    margin-top: 60px;
}

/* sets sacing between about me content */ 
.paragraph-1 {
    margin-bottom: 20px;}

/* Sets work cointainer specs */ 
.work-cointainer {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin-right: 0;
    height: 0vh;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
/* Styles work section*/ 
#work {
    font-size: 60px;
    border-right: 5px solid black;
    padding-right: 30px;
    height: 77vh;
    width: 180px;
    margin-top: 60px;
}

/* styles for project 1 */ 
.large-image {
    height: 500px;
    width: 900px;
    border: 5px solid black;
    display: block;
}

/* Sets specs for contact me cointainer */ 
.contact-me-cointainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin-top: 100px;
    margin-left: 220px;
}

/* Sets styles for footer nav links */ 
.footer-links a {
    display: inline;
    font-size: 25px;
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    font-weight: bold;
}

/* Sets specs for button cointainer */ 
.button-div {
    display: flex;
    flex-wrap: wrap;
    width: 82%;
    justify-content: space-between;
}

/* styles size for buttons */ 
.small-buttons {
    height: 150px;
    width: 400px;
    display: inline;
    margin-top: 25px;
    border: 5px solid black;
}

/* Sets specs for contact me cointainer */ 
.contact-me-title-cointainer {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    margin-right: 0;
    height: 0vh;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
/* Styles contact me section */ 
#contact-me {
    font-size: 60px;
    border-right: 5px solid black;
    padding-right: 30px;
    height: 10vh;
    width: 280px;
    margin-top: 60px;
}